.table-item{
    cursor: pointer;
    width: 100%;
    height: 3rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius:3rem;
}

.table-item:hover{
    background-color: #3E4247;
    
}

.position{
    flex: 0.8;
}
.position-item{
    margin-left: 1rem;
    margin-right:10px;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #3E4247;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team{
    flex: 2.2;
}

.played{
    flex: 1.25;
}

.wins{
    flex: 1;
}

.loss{
    flex: 1;
}

.draw{
    flex: 1;
}

.points{
    flex: 1;
}

.streak{
    flex: 1.6;
}

.streak-item{
    margin-right: 2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.streak-item-unit{
    height: 0.8rem;
    width:0.8rem;
    border-radius:50%;
    background-color: #3E4247;
}

.green{
    background-color: #1DE9B6;
}

.red{
    background-color: #FF7043;
}

.yellow{
    background-color:  #FFCA28;
}

@media only screen and (max-width: 600px) {
    .team{
        flex: 2.6;
        cursor: pointer;
        
    }

    .played{
        flex: 1;
    }

    .wins{
        flex: 1;
    }

    .loss{
        flex: 1;
    }

    .draw{
        flex: 1;
    }

    .points{
        flex: 1;
        cursor: pointer;
    }

    .streak{
        display:none
    }
}