<div class="table-item" [ngStyle]="team.isChecked && {'background-color': '#3E4247'}" (click)="checkForMatch()">
    <div class="position">
        <div class="position-item"  [ngStyle]="team.isChecked && {'background-color': '#ffca28'}" >
            <div>{{team.position}}</div>
        </div>
    </div>
    <div class="team">{{team.teamName}}</div>
    <div class="played">{{team.wins + team.losses + team.ties}}</div>
    <div class="wins">{{team.wins}}</div>
    <div class="loss">{{team.losses}}</div>
    <div class="draw">{{team.ties}}</div>
    <div class="points">{{team.score}}</div>
    <div class="streak">
        <div class="streak-item">
            <ng-container *ngFor="let point of points">
                <div class="streak-item-unit"
                [class.green]="point===3"
                [class.yellow]="point===1" 
                [class.red]="point===0" 
                ></div>
            </ng-container>
                
            <ng-container *ngFor="let item of [].constructor(count); let i = index">
                <div class="streak-item-unit"></div>
            </ng-container>
            
        </div>
    </div>
</div>

