.top-section, .match-section{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    color: #ffffff;
    flex-wrap:wrap;
}

.searchbar{
    background-color: #3E4247;
    width: 50%;
    height: 3rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
}



.addbar{
    background-color: #3E4247;
    width: 30%;
    height: 3rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.team-first, .team-second, .team-draw{
    background-color: #3E4247;
    width: 25%;
    height: 3rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.selected{
    border: 2px solid #ffca28;
    color: #ffca28;
}

.matchbutton, .savebutton{
    background-color: #ffca28;
    width: 10%;
    height: 3rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
    cursor: pointer;
}

.cancelbutton{
    background-color: #3E4247;
    width: 3rem;
    height: 3rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: black;
    cursor: pointer;
}

.searchbar input,.addbar input{
    background-color: transparent;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
    width:100%
}

.addbar img:hover{
    cursor: pointer;
}






.table-header{
    background-color: #3E4247;
    width: 100%;
    height: 3rem;
    border-radius:1.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
}

.extended{
    display:inline;
}

.position{
    flex: 0.8;
    display:inline;
}

.team{
    flex: 2.2;
    cursor: pointer;
    display:inline;
}

.played{
    flex: 1.25;
    display:inline;
}

.wins{
    flex: 1;
    display:inline;
}

.loss{
    flex: 1;
    display:inline;
}

.draw{
    flex: 1;
    display:inline;
}

.points{
    flex: 1;
    cursor: pointer;
    display:inline;
}

.streak{
    flex: 1.6;
    display:inline;
}

.table-items{
    padding-top:1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}

.pagination{
    margin-top: 3rem;
    margin-bottom:3rem;
    display: flex;
    flex-direction:row;
    justify-content:center;    
}


.pagination /deep/ .ngx-pagination a, .ngx-pagination button, .ngx-pagination button:active {
    color: #ffffff;
    border: none;
    text-decoration: none;
  }

.pagination /deep/ .ngx-pagination .current {
    background:  #3E4247;
    color: #ffffff;
    border-radius:10%;
  }

  .pagination /deep/ .ngx-pagination :hover {
    background:  #3E4247;
    border-radius:10%;
  }

@media only screen and (max-width: 600px) {
  .searchbar{
        width: 100%;
        margin-bottom:1rem;

    }

    .addbar{
        width: 100%;
        margin-bottom:1.25rem;

    }

    .team-first, .team-second, .team-draw{
        width: 100%;
        margin-bottom:1rem;

    }

    .matchbutton{
        width:100%;
    }
    .savebutton{
        width: 82%;
    }

    .team{
        flex: 3;
        cursor: pointer;

    }

    .played{
        flex: 1;
    }

    .wins{
        flex: 1;
    }

    .loss{
        flex: 1;
    }

    .draw{
        flex: 1;
    }

    .points{
        flex: 1;
        cursor: pointer;
    }

    .streak{
        display:none;
    }
    .extended{
        display:none;
    }
}