<div *ngIf="!isMatch" class="top-section">
    <div class="searchbar">
        <input type="text" placeholder="search for team or score" (keyup)="onKeyUpEvent($event)" [(ngModel)]="filter.teamName">
        <img src="../../assets/search.svg" alt="">
    </div>
    <div class="addbar">
        <input type="text" placeholder="add a new team" [(ngModel)]="teamName" maxlength=20>
        <img src="../../assets/add.svg" alt="" (click)="addTeam()">
    </div>

    <div class="matchbutton" (click)="match()">
        match
    </div>
</div>

<div *ngIf="isMatch" class="match-section">
    <div class="team-first" (click)="result(0)" [ngClass]="{'selected' : matchResult[0]===true}">
        {{selectedTeams[0].teamName + ' win'}}
    </div>
    <div class="team-second" (click)="result(1)" [ngClass]="{'selected' : matchResult[1]===true}">
        {{selectedTeams[1].teamName + ' win'}}
    </div>
    <div class="team-draw" (click)="result(2)" [ngClass]="{'selected' : matchResult[2]===true}">
        match is a draw
    </div>
    <div class="cancelbutton" (click)="cancelMatch()">
        <img src="../../assets/close.svg" alt="">
    </div>
    <div class="savebutton" (click)="saveMatch()">
        save
    </div>
</div>

<div class="table-header">
    <div class="position"></div>
    <div class="team" (click)="sort('team')">team</div>
    <div class="played">p<div class="extended">layed</div></div>
    <div class="wins">w<div class="extended">ins</div></div>
    <div class="loss">l<div class="extended">osses</div></div>
    <div class="draw">d<div class="extended">raws</div></div>
    <div class="points" (click)="sort('points')">p<div class="extended">oints</div></div>
    <div class="streak">recent form</div>
</div>


<div class="table-items">
    <app-leaderboard-item (teamSelected)="teamSelected($event)" *ngFor="let team of teams|filterBy:filter|paginate: { itemsPerPage: 10, currentPage: p }" [team]="team"></app-leaderboard-item>
</div>

<div *ngIf="teams!=null" class="container pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  